<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body style="background-color: #fcfcfc; margin: 0px; padding: 0px;">
        <div class="tool_box" style="width:200px; height:380px;
        margin:10px;margin-right:250px; margin-top:100px;
        padding:10px; border:2px solid black;
        background-color:#a5d5bf;
        float: right; border-radius: 5px;
        position: -webkit-sticky; position: sticky; top: 25px;">
            
            <!-- 自分のホームへ行く用 -->
            {%if not sc_number == 0%}
                <a href="/your_home">マイページ</a>
            {%endif%}
    
            <!-- タグ検索用 -->
            <p><b>検索タグ</b></p>
            <p><a href="/search_Web">Web</a></p>
            <p><a href="/search_AI">AI</a></p>
            <p><a href="/search_VR">VR</a></p>
            <p><a href="/search_XR">XR</a></p>
            <p><a href="/search_Unity">Unity</a></p>
            <p><a href="/search_iOS">iOS</a></p>
            <p><a href="/search_Android">Android</a></p>
        </div>

        <div class="index_home" style="width:auto; height:50px;padding:10px; background-color:#4da9a2;
     line-height: 50px; font-weight: bold; font-size:30px; margin: 0 calc(50% - 50vw); margin-top:0;">
        {{ppp}}
        </div>

    <div class="pdf_div" style="margin-left:130px; margin-top:20px;">
    {{pdf_pass_send | safe}}
</div>
</body>
</html>