<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/start.css">
    <title>Document</title>
</head>
<body style="background-color: #eaefff;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p style="text-align:center;font-weight: bold;font-size: 50px;">
        武蔵野大学データサイエンス学部<br>研究アーカイブ
    </p>
    <form action="/index" method="post">
        <p style="text-align:center">
        <label style="font-weight: bold;" for="name">ユーザ名</label>
        <input  type="text" name="name">
        <br>
        <label style="font-weight: bold;" for="sc_number">パスワード</label>
        <input type="password" name="sc_number">
        </p>
        <p style="text-align:center">
        <button style="background-color: #b7dbff;" type="submit" name="belong" value="0">ログイン</button>
        <button style="background-color: #b7dbff;" type="submit" name="belong" value="1">外部の方はこちら</button>
        </p>
    </form>
</body>
</html>